@{
    ViewData["Title"] = "Home Sales Web MVC App";
}

<div class="text-center">
    <h1 class="display-4">Sales Web MVC App</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
